
/* Mobile first - default styles */
body{
	margin: 0px;
	font-family: 'Cutive Mono', sans-serif;
}

h1, h2, h3 {

	font-family: 'Arizonia', cursive;
}

h5.countdown {

	font-family: 'Cutive Mono', sans-serif;
}

h5.countdown span.countdown {

	font-size: 40px;
	color: #E55A20;
}

button.button {
	border: 1px solid #fff;
	color: #E55A20;
	transition: all 0.5s ease;
	margin: 10px;
	font-family: 'Cutive Mono', sans-serif;
    font-weight: 900;
    font-size: 15px;
    text-transform: lowercase;
}

button.button:hover, button.button:active
, button.button:focus  {
	border-color: rgb(253,203,108);
	color: #000000;
	height: 45px;
	line-height: 45px;
}	

div.container {
	width: 100%;
	padding-top: 2%;
}

.announceParent{
	display: flex;
	flex-direction: column;
}

.announceParent .announceHeader *{
	align-content: center;
}

.announceParent .announceHeader iframe{
	align-content: center;
}

.announceParentList{
	display: flex;
	flex-direction: row;
}

.announceParentList button {
	width: 80%;
	justify-content: space-between;
	text-align: center;
}

.announceParentList img {
	padding-right: 20px;
}

.itemParent{
	display:flex;
	flex-direction:row;
}

.itemParent p.rightText{
	padding-left: 20px;
	text-align: left;
}

.itemParent p.leftText{
	padding-right: 20px;
	text-align: left;
}

.itemRight{
	display: flex;
	flex-direction:row-reverse;
}

.item1#airportMap, .item1#venueMap {
	height:300px;
	width: 600px;
}

.item1#hotelBox {
	height:400px;
	width: 800px;
}

.hotelParent {
	display: flex;
	flex-direction:row;
}

.hotelParent .hotelItem{
	display: flex;
	flex-direction: column;
	padding-right:10px;
}

.travelItem{
	padding-bottom: 20px;
}

div.travelItem, .guideParent p.rightText, .rsvpItem{
	display: none;
}

.guideParent{
	display:flex;
	flex-direction:row;
}
.guideParent .guideMenu{
	flex-direction:column;
	width:30%;
}
.guideParent p.rightText{
	padding-left: 20px;
	text-align: left;
}



/*div.row {
	padding: 30px;
}*/

ul#main-nav{
	list-style-type: none;
}

#main-nav li {

	display: inline;
	font-weight: bolder;
}

a {
	text-decoration: none;
	padding: 15px;
	color: #E55A20;
}

a:hover{
	color: #000000;
}

button.button.topNav {
	font-size: 18px;/*
	border: 1px solid #fff;
	color: #E55A20;
	transition: all 0.5s ease;*/
}
button.button.topNav:hover {
	/*border-radius: 4px;*/
    /*border: 1px solid rgb(253,203,108);
    color: #000000;*/
    /*cursor: pointer;*/
    /*box-sizing: border-box;*/
    /*margin: 10px;*/
    /*height: 45px;
    padding: 0 30px;
    line-height: 45px;*/
    /*letter-spacing: .1rem;*/
}

a#headerLink{
	position: fixed;
    top: 100px;
    left: 20px;
}

img#inviteHeader {
	padding-top: 30px;
}

div#travel, div#our-story {
	color: #000;
}

div#our-story {
	/*background: #082D3A;*/
}

div#travel {
	/*background: #A02205;*/
}

p.announceHeader, h1.announceHeader, div.announceHeader{
	margin:0;
	padding: 0;
	text-align: -webkit-center;
	text-align: center;
}

h2#header{
	color: #000;
	/*color:#AE0000;*/

}

div.announceHeader p{
	text-align: -webkit-center;
	text-align: center;
}

div.spacer{
	height: 1px;
    color: #ffffff;
}

div.sectionWrapper{
	padding: 10px 20px;
}

button.button{
	background: #ffffff;
}

img.accent{
	width: 40%;
}

img#photo{
	width: 80%;
}


img.lightbulb {
    position: fixed;
    top: 0px;
    z-index: 20;
}

img.lightbulb.right {

    right: 0px;
	width: 11%;

}

img.lightbulb.left {
	
    left: 12px;
    width: 4%;
    top: 0px;
}

div#carousel {
	z-index: 9;
}

img.slider{
	height: 450px;
}
@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("../fonts/untitled-font-1.eot");
  src:url("../fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-1.woff") format("woff"),
    url("../fonts/untitled-font-1.ttf") format("truetype"),
    url("../fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 3;
  letter-spacing: 3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
   font-size: 10px;
  speak: none;
  line-height: 3;
  letter-spacing: 3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
	color: rgb(253,203,108);
}

.icon-left-open-big:before {
  content: "b";
  font-size: 50px;
}
.icon-right-open-big:before {
  content: "d";
  font-size: 50px;
}

.slick-prev {
	position: absolute;
	top: 170px;
	left: 0px;
}

.slick-next {
	position: absolute ; 
	    top: 170px;
 		right: 0px;
}


hr{
	align:center;
	size:50%;
	color: rgb(253,203,108);
	background-color: rgb(253,203,108);
	height: 2px;
}

hr#travelHR{
	border: 0; 
	height: 1px; 
	color: rgb(253,203,108);
	background-color: rgb(253,203,108);
	width: 80%;
}

@media all and (max-width: 800px) {
	hr{
		width:80%;
	}

	.announceParentList {
  		justify-content: space-around;
  	}

  	.itemParent{
  		max-width: 800px;
		flex-direction:column;
		justify-content:center;
		align-items: center;
	}


	.travelItem p.leftHeader{
  		padding-left: 40px;
	}

	.travelItem p.rightHeader{
  		padding-right: 40px;
	}

	.itemParent p.rightText{
		max-width:700px;
		padding-left: 10px;
		padding-right: 10px;
		text-align: justify;
	}

	.itemParent p.leftText{
		max-width:700px;
		padding-left: 10px;
		padding-right: 10px;
		text-align: justify;
	}

  	img.accent{
		width: 65%;
	}
	
	img#photo{
		width: 90%;
	}

	.item1#hotelBox {
		height:300%;
		width: 300px;
	}

	.hotelParent {
		flex-direction:row;
		justify-content: center;
	}

	.hotelParent .hotelItem{
		flex-direction: column;
		align-items: center;
		width: 300px;
	}

	.hotelItem img{
		width:275px;
	}

	.travelItem .dirButton{
		padding-left: 300px;
	}

	.itemRight .dirButton{
		padding-right: 300px;
	}

}

@media all and (max-width: 500px) {
  	.announceParentList {
    	/* On small screens, we are no longer using row direction but column */
    	flex-direction: column;
  	}

	.announceParentList * {
	  	text-align: center;
	  	text-align: -webkit-center;
	}

	.itemParent{
		flex-direction:column;
		justify-content:center;
		align-items: center;
	}

	iframe.video, .item1 p{
		width: 300px;
		text-align: center;
	}

	.itemParent p.rightText{
		padding-left: 10px;
		padding-right: 10px;
		text-align: justify;
	}

	.itemParent p.leftText{
		padding-left: 10px;
		padding-right: 10px;
		text-align: justify;
	}

	.item1#airportMap .airMap, .item1#venueMap {
		height:200px;
		width: 400px;
	}


  	img.accent{
		width: 40%;
	}
	
	img#photo{
		width: 80%;
	}

	.item1 *{
		width: 50%;
	}

	.item1#hotelBox {
		height:300%;
		width: 300px;
	}

	.hotelParent {
		flex-direction:column;
		justify-content: center;
	}

	.hotelParent .hotelItem{
		flex-direction: column;
		align-items: center;
		width: 300px;
	}

	.hotelItem img{
		width:275px;
	}
}

/*Small devices (tablets, 768px and up)*/
/*@media (min-width: 768px) {
}*/
	
/*Medium devices (desktops, 992px and up)*/
/*@media (min-width: 992px) {	
}*/
	
/*Large devices (large desktops, 1200px and up)*/ 
/*@media (min-width: 1200px) {
}*/
