
/* Mobile first - default styles */
body {
	margin: 0px;
	font-family: 'Cutive Mono', sans-serif;
}

h1, h2, h3, h4, h5, h6 {

	font-family: 'Arizonia', cursive;
}

div.container {
	width: 100%;
	padding-top: 2%;
}

/*div.row {
	padding: 30px;
}*/

ul#main-nav{
	list-style-type: none;
}

#main-nav li {

	display: inline;
}

a {
	text-decoration: none;
	padding: 15px;
	color: #E55A20;
}

a:hover{
	color: #1E0863;
}

a#headerLink{
	position: fixed;
    top: 100px;
    left: 20px;
}

img#inviteHeader {
	padding-top: 30px;
}

div#travel, div#our-story {
	color: #ffffff;
}

div#our-story {
	background: #082D3A;
}

div#travel {
	background: #A02205;
}

p.announceHeader, h1.announceHeader, div.announceHeader {
	margin:0;
	padding: 0;
	text-align: -webkit-center;
}

div.spacer{
	height: 1px;
    color: #ffffff;
}

/*Small devices (tablets, 768px and up)*/
/*@media (min-width: 768px) {
}*/
	
/*Medium devices (desktops, 992px and up)*/
/*@media (min-width: 992px) {	
}*/
	
/*Large devices (large desktops, 1200px and up)*/ 
/*@media (min-width: 1200px) {
}*/
